@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
	.resume-template {
		transform: scale(0.9);
	}
}

@media (max-width: 800px) {
	.resume-template {
		transform: scale(0.7);
	}
}

@media (max-width: 600px) {
	.resume-template {
		transform: scale(0.5);
	}
}
