@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: system-ui, Arial, Helvetica, sans-serif;
}

@layer base {
	img {
		display: initial;
	}
}

@media (max-width: 1200px) {
	.resume-template {
		transform: scale(0.9);
	}
}

@media (max-width: 800px) {
	.resume-template {
		transform: scale(0.7);
	}
}

@media (max-width: 600px) {
	.resume-template {
		transform: scale(0.5);
	}
}

/* Ensure ordered lists display properly */
.ql-editor ol {
	list-style-type: decimal; /* Show numbers */
	padding-left: 20px;
}

.ql-editor ul {
	list-style-type: disc; /* Show bullet points */
	padding-left: 20px;
}

.ql-editor li {
	margin-bottom: 4px;
}

.ql-editor {
	/* padding: 0 !important; */
	margin: 0 !important;
}

.ql-editor-custom-section {
	padding: 0 !important;
}

.custom-bullet-active {
	background-color: #ffba08 !important; /* Active color */
	opacity: 1;
}

/* Base styles */
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1680px;
	margin: 0 auto 0 auto;
}

.wrapper {
	width: 50%;
	display: flex;
}

.element3_wrapper {
	flex-shrink: 0;
	margin: 0 auto 0 auto;
	width: 50%;
}
.element3 {
	height: 1056px; /* Letter height in pixels */
	max-width: 816px; /* Letter width in pixels */
	flex-shrink: 0;
	margin: 0 auto 0 auto;
}

@media (min-width: 1680px) {
	.element1 {
		width: 33.33%;
	}
	.element2 {
		width: 66.66%;
	}
}

@media (min-width: 1520px) and (max-width: 1679px) {
	.element3 {
		zoom: 0.9;
		transform-origin: top left;
	}
	.template_wrapper {
		width: 66%;
	}
	.element1 {
		width: 50%;
	}
	.element2 {
		width: 50%;
	}
}
@media (min-width: 1200px) and (max-width: 1519px) {
	.element3 {
		zoom: 0.7;
		transform-origin: top left;
	}
	.template_wrapper {
		width: 66%;
	}
	.element1 {
		width: 50%;
	}
	.element2 {
		width: 50%;
	}
}

@media (min-width: 901px) and (max-width: 1199px) {
	.wrapper {
		flex-direction: column;
		width: 33%;
	}
	.element3 {
		zoom: 0.7;
		transform-origin: top left;
	}
	.element3_wrapper {
		width: 66%;
	}
}

@media (min-width: 671) and (max-width: 900px) {
	.wrapper {
		flex-direction: column;
		width: 100%;
	}
	.element3 {
		zoom: 0.7;
		transform-origin: top center;
	}
	.element3_wrapper {
		width: 94%;
	}
}

@media (min-width: 443) and (max-width: 670px) {
	.template_selector_buttons {
		flex-direction: column;
		width: 98%;
	}
	.template_selector_buttons button {
		width: 100%;
	}
	.wrapper {
		flex-direction: column;
		width: 100%;
	}
	.element3_wrapper {
		width: 100%;
		overflow-x: auto;
		display: flex;
		justify-content: center;
	}

	.download-section {
		flex-direction: column !important;
	}
	.element3 {
		height: 1056px;
		width: 816px;
		margin-top: 10px;
		zoom: 0.7;
		transform-origin: top center;
	}
}

@media (min-width: 100) and (max-width: 442px) {
	.template_selector_buttons {
		flex-direction: column;
		width: 98%;
	}
	.template_selector_buttons button {
		width: 100%;
	}
	.wrapper {
		flex-direction: column;
		width: 100%;
	}
	.element3_wrapper {
		width: 100%;
		overflow-x: auto;
		display: flex;
		justify-content: center;
	}

	.download-section {
		flex-direction: column !important;
	}

	.element3 {
		height: 1056px;
		width: 816px;
		margin-top: 10px;
		zoom: 0.7;
		transform-origin: top center;
	}
}
