@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: system-ui, Arial, Helvetica, sans-serif;
}

@layer base {
	img {
		display: initial;
	}
}

@media (max-width: 1200px) {
	.resume-template {
		transform: scale(0.9);
	}
}

@media (max-width: 800px) {
	.resume-template {
		transform: scale(0.7);
	}
}

@media (max-width: 600px) {
	.resume-template {
		transform: scale(0.5);
	}
}

/* Ensure ordered lists display properly */
.ql-editor ol {
	list-style-type: decimal; /* Show numbers */
	padding-left: 20px;
}

.ql-editor ul {
	list-style-type: disc; /* Show bullet points */
	padding-left: 20px;
}

.ql-editor li {
	margin-bottom: 4px;
}

.ql-editor {
	/* padding: 0 !important; */
	margin: 0 !important;
}

.ql-editor-custom-section {
	padding: 0 !important;
}

.custom-bullet-active {
	background-color: #ffba08 !important; /* Active color */
	opacity: 1;
}
